/* .BoxA{
    border: 1px solid hotpink;
    width: 320px;
    height: 320px;
}
.Box2,.Box3,.Box4,.Box5{
    height: 80px;
    width: 80px;
    background-color: yellowgreen;

}
.Box2{
    margin-left: 240px;
    border: 2px solid gray;
    height: 76px;
    width: 76px;
}
.Box3{
    margin-left: 160px;
}
.Box4{
    margin-left: 80px;
    border: 2px solid rgb(146, 119, 119);
    height: 76px;
    width: 76px;
} */


