<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title><link rel="stylesheet" href="./task.css">
</head>
<body>
  <section>
      <div>
         <header>
             <h1>Card Header </h1><img class="img1" src="https://images.unsplash.com/photo-1580649969708-0f2c74c81797?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="">
            </header>
                <img src="https://images.unsplash.com/photo-1580649969708-0f2c74c81797?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="">
        
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos neque nobis nostrum praesentium illo provident modi ipsam. Esse, sequi. Explicabo veniam sit et ratione blanditiis molestiae quo sed tenetur earum.</p>
                <footer><h2>footer card</h2></footer>
            </div>
            
      
      <div>
        <header>
            <h1>Header card</h1> <img class="img1" src="https://images.unsplash.com/photo-1580649969708-0f2c74c81797?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="">
        </header>
            <img src="https://images.unsplash.com/photo-1580649969708-0f2c74c81797?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="">
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos neque nobis nostrum praesentium illo provident modi ipsam. Esse, sequi. Explicabo veniam sit et ratione blanditiis molestiae quo sed tenetur earum.</p>
        <footer><h2>footer card</h2></footer>
      </div>
      <div>
        <header>
            <h1>Header card </h1><img class="img1" src="https://images.unsplash.com/photo-1580649969708-0f2c74c81797?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="">
        </header>
            <img src="https://images.unsplash.com/photo-1580649969708-0f2c74c81797?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="">
       
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos neque nobis nostrum praesentium illo provident modi ipsam. Esse, sequi. Explicabo veniam sit et ratione blanditiis molestiae quo sed tenetur earum.</p>
        <footer><h2>footer card</h2></footer>
      </div>
      <div>
        <header>
            <h1>Header card</h1> <img class="img1" src="https://images.unsplash.com/photo-1580649969708-0f2c74c81797?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="">
        </header>
            <img src="https://images.unsplash.com/photo-1580649969708-0f2c74c81797?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="">
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos neque nobis nostrum praesentium illo provident modi ipsam. Esse, sequi. Explicabo veniam sit et ratione blanditiis molestiae quo sed tenetur earum.</p>
        <footer><h2>footer card</h2></footer>
      </div>
  </section>
    
</body>
</html>