body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: gray;
}
header {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
main {
display: flex;
flex-grow: 1;
}
nav {
display: flex;
padding: 10px;
column-gap: 30px;
justify-content: center;
}
aside {
    background-color: rgb(255, 255, 255);
}
h1, h3,h4 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
aside>h3 {
    margin: 15px;
    justify-content: space-around;

}
article {
    display: flex;
    width: 17%;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid  rgb(121, 119, 119);
    background-color: rgb(82, 67, 67);
    
}
img {
    width: 100%;
}
article>h4 {
   text-align: center; 
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  
}
